.customers {
    display: flex; /* or inline-flex */
    flex-direction:row;
    margin: 15px;


    .customers-item {
        margin: 10px;
        width: 100%;
        position: relative;
        .example-full-width{
            width:100%;
        }
        .example-margin {
            margin: 0 10px;
          }
    }
  }
