<div class="customers">
  <mat-card class="customers-item">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Clients</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" />
      </mat-form-field>
      <mat-nav-list>
        <a mat-list-item [routerLink]="client.id" routerLinkActive="active" *ngFor="let client of clients">
          {{ client.firstName }} {{ client.lastName }}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
