<div class="customers-detail">
  <mat-card class="customers-detail-left">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Loveleen Dhiman</mat-card-title>
      <mat-card-subtitle
        >ld@techrangle.com
        <p-overlayPanel #op  appendTo="body">
          <div style="display: flex; flex-flow: column;">
              <mat-form-field style="width:100%;">
                  <input matInput placeholder="First name" />
                </mat-form-field>
                <mat-form-field style="width:100%;">
                  <input matInput placeholder="Last name" />
                </mat-form-field>
                <button mat-raised-button color="primary">Update</button>
          </div>
        </p-overlayPanel>
        <button mat-icon-button (click)="op.toggle($event)">
          <mat-icon aria-label="Example icon-button with a edit icon"
            >edit</mat-icon
          >
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="button-row">
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a edit icon"
            >edit</mat-icon
          >
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a mail icon"
            >mail</mat-icon
          >
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a call icon"
            >call</mat-icon
          >
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a add icon"
            >add</mat-icon
          >
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a assignment icon"
            >assignment</mat-icon
          >
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a date_range icon"
            >date_range</mat-icon
          >
        </button>
      </div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Address"
            value="1600 Amphitheatre Pkwy"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address 2" />
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="City" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
              <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="State" />
                  </mat-form-field>
                </td>
          </tr>
          <tr>
              <td>
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      #postalCode
                      maxlength="6"
                      placeholder="Postal Code"
                      value="94043"
                    />
                    <mat-hint align="end"
                      >{{ postalCode.value.length }} / 6</mat-hint
                    >
                  </mat-form-field>
                </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
              <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile" />
                  </mat-form-field>
                </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox class="example-margin" [labelPosition]="after">
                Subscribed from website
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox class="example-margin" [labelPosition]="after">
                Send promotions
              </mat-checkbox>
            </td>
          </tr>
        </table>

        <button mat-raised-button color="primary">Save</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="customers-detail-middle">
    <mat-tab-group>
      <mat-tab label="Activity"> Activity </mat-tab>
      <mat-tab label="Notes"> Notes </mat-tab>
      <mat-tab label="Emails"> Emails </mat-tab>
      <mat-tab label="Calls"> Calls </mat-tab>
      <mat-tab label="Tasks"> Tasks </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="customers-detail-right">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Deals {{ deals }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Add deals or create new deals to review your revenue status</p>
        <div class="button-row">
          <button mat-raised-button color="primary">Add Deal</button>
          <button mat-raised-button color="primary">Create Deal</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Company {{ companies }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Review all correspondance of {{ contactName }}'s company. Add an
          existing company or create a new one.
        </p>
        <div class="button-row">
          <button mat-raised-button color="primary">Add Company</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Tickets {{ tickets }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Resolve all the client related issues by tracking them all in one
          place
        </p>
        <div class="button-row">
          <button mat-raised-button color="primary">Add Ticket</button>
          <button mat-raised-button color="primary">Create Ticket</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Attachments {{ attachments }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Upload any attachments , spreadsheet or client related documents in
          one place
        </p>
        <div class="button-row">
          <button mat-raised-button color="primary">Upload Attachments</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> SalesBook {{ salesbooks }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Build a library of resources for your sales and services reps. These
          could include call scripts or internal training docs.
        </p>
        <div class="button-row">
          <button mat-raised-button color="primary">Add salesbook</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Deals {{ deals }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Add deals or create new deals to review your revenue status</p>
        <div class="button-row">
          <button mat-raised-button color="primary">Add Deal</button>
          <button mat-raised-button color="primary">Create Deal</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
